.titulo {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 330px;
}

.logo {
  display: flex;
  width: 250px;
  align-content: left;
  padding-top: 100px;
}

div h2 {
  display: flex;
  margin-top: -20px;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 28px;
}
