.footer1 {
  color: #8a8d91;
  font-size: 12px;
  text-align: left;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 30px;
}
.botaoAdd {
  font: bold 15px arial;
  color: #8a8d91;
  border-color: #8a8d91;
  border-width: 1px;
}
.linha {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1140px;
  border: 0.01px solid;
  border-color: #dddfe2;
}
